.filtered-platforms {
  position: absolute;
  left: 0;
  width: 100%;
  top: 90%;
  padding: 16px;
  background: #fff;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
  z-index: 2;
  border-radius: 8px;
  max-height: 160px;
  overflow-y: auto;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      width: 32px;
      margin-right: 8px;
    }
  }
}
