.community-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.community-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.search-bar {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 16px;
  border: 1px solid #d2d2d2;
  border-radius: 12px;
  font-size: 16px;
}

.AddPostPage,
.EditPostPage,
.PostDetailPage {
  .contents {
    padding: 16px 0;
  }
}

.community-form {
  margin-bottom: 20px;
  padding: 16px;
}

.community-input,
.community-textarea {
  width: 100%;
  border: none;
  margin-bottom: 10px;
}

.community-input {
  margin-bottom: 16px;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
}

.community-textarea {
  font-family: "Pretendard", sans-serif;
  font-size: 18px;
  resize: none;
  height: 500px;
  overflow-y: auto;
}

.community-list {
  list-style-type: none;
  padding: 0;
  height: calc(100vh - 270px);
  max-height: 600px;
  overflow-y: auto;
}

.community-item {
  position: relative;
  margin-bottom: 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #d2d2d2;

  h3 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
    color: #333;
    cursor: pointer;
    @media (max-width: 430px) {
      font-size: 18px;
      padding-bottom: 4px;
    }
  }

  p {
    display: block;
    width: 100%;
    font-size: 18px;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    @media (max-width: 430px) {
      font-size: 16px;
    }
  }

  textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .actions {
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 3;

    button + button {
      margin-left: 8px;
    }

    .community-button {
      background-color: transparent;
      color: black;
      padding: 0;
      border: none;
      cursor: pointer;
      font-size: 16px;
      @media (max-width: 430px) {
        font-size: 14px;
      }

      &.delete {
        color: red;
      }
    }
  }
}
