.dock-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px 24px 46px;
  background: #fff;
  border-radius: 24px 24px 0 0;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.08);
  z-index: 9;

  .dock-item {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 74px;

    .dock-link {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:hover {
        color: #000;
      }
    }

    .icon {
      width: 28px;
    }

    .text {
      font-size: 14px;
    }
  }
}
