/* 모바일 width값으로 제한 */
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  width: 394px;
  height: 852px;
  align-self: center;
  padding: 16px 24px;
  max-width: 430px;
  background: #fff;
}
